<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dasheng.com.capturedevice">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- 添加必要的权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 短信验证登陆功能需要添加次权限来自动填充验证码，用不到可以去掉 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Main">
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--首页-->
        <activity
            android:name=".ui.HomeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 微信发红包的功能 -->
        <activity
            android:name=".wechat.ui.activity.WechatSendRedPacketActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 微信红包预览页面 -->
        <activity
            android:name=".wechat.ui.activity.WechatRedPacketPreviewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <!-- 微信修改角色页面 -->
        <activity
            android:name=".wechat.ui.activity.WechatRoleActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 生成微信转账的页面 -->
        <activity
            android:name=".wechat.ui.activity.WechatTransferActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 生成微信提现的页面 -->
        <activity
            android:name=".wechat.ui.activity.WechatChangeWithdrawDepositActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 生成微信转账详情的页面 -->
        <activity
            android:name=".wechat.ui.activity.WechatTransferDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 生成微信视屏通话的页面 -->
        <activity
            android:name=".wechat.ui.activity.WechatVoiceAndVideoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 预览微信视屏通话的页面 -->
        <activity
            android:name=".wechat.ui.activity.WechatVoiceAndVideoPreviewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 预览微信零钱的页面 -->
        <activity
            android:name=".wechat.ui.activity.WechatChangeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 预览微信提现的页面 -->
        <activity
            android:name=".wechat.ui.activity.WechatPreviewChangeWithdrawDepositActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 预览 - 微信  零钱明细页面 -->
        <activity
            android:name=".wechat.ui.activity.WechatPreviewChargeDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!--生成微信零钱明细-->
        <activity
            android:name=".wechat.ui.activity.WechatAddChargeDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!--准备添加微信零钱明细的页面-->
        <activity
            android:name=".wechat.ui.activity.WechatChargeDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 微信模拟器整体页面 -->
        <activity
            android:name=".ui.activity.WechatSimulatorActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 微信模拟器 -->
        <activity
            android:name=".wechat.ui.activity.WechatLooseChangeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 微信我的钱包 -->
        <activity
            android:name=".wechat.ui.activity.WechatMyWalletActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 微信 == 聊天列表 -->
        <activity
            android:name=".wechat.ui.activity.WechatChatListActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 微信 == 单聊页面 -->
        <activity
            android:name=".wechat.ui.activity.WechatSingleChatActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 微信 == 添加聊天对象页面 -->
        <activity
            android:name=".wechat.ui.activity.WechatAddTalkObjectActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!--Overall相关的Activity-->
        <!--设置页面-->
        <activity
            android:name=".ui.activity.SettingActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!--问题反馈页面-->
        <activity
            android:name=".ui.activity.ProblemReportActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!--选择客服页面-->
        <activity
            android:name=".ui.activity.OverAllChoiceServiceActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!--开通VIP页面-->
        <activity
            android:name=".ui.activity.OverallPurchaseVipActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!--*******************************************************支付宝相关*******************************************************************-->

        <!--预览支付宝红包页面-->
        <activity
            android:name=".alipay.preview.AlipayPreviewRedPacketActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!--预览支付宝余额页面-->
        <activity
            android:name=".alipay.preview.AlipayPreviewBalanceActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!--预览支付宝转账账单页面-->
        <activity
            android:name=".alipay.preview.AlipayPreviewTransferBillActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!--预览支付宝提现账单页面-->
        <activity
            android:name=".alipay.preview.AlipayPreviewWithdrawDepositBillActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!--预览支付宝我的页面-->
        <activity
            android:name=".alipay.preview.AlipayPreviewMyActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!--生成支付宝红包页面-->
        <activity
            android:name=".alipay.create.AlipayCreateRedPacketActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!--生成支付宝余额页面-->
        <activity
            android:name=".alipay.create.AlipayCreateBalanceActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!--生成支付宝转账账单页面-->
        <activity
            android:name=".alipay.create.AlipayCreateTransferBillActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!--生成支付宝提现页面-->
        <activity
            android:name=".alipay.create.AlipayCreateWithdrawDepositBillActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!--生成支付宝我的页面-->
        <activity
            android:name=".alipay.create.AlipayCreateMyActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"/>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="dasheng.com.capturedevice.nougat"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public">
            </meta-data>
        </provider>
    </application>

    <!--第三方 Mob相关            开始-->

</manifest>